
.checkout-page {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 33%;
}


form {
    display: grid;
    gap: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

h2{
    margin-left: 170px;
}

.form-container {
    max-width: 700px;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;

}


.form-container label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 90%;
}

